  <div class='item-contents'>
    <h2 class='title'>検索結果</h2>
    <ul class='item-lists'>

      <% if @items.length != 0 %>
       <li class='list'>
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
            <div class='item-img-content'>
              <%= image_tag item.image.variant(resize: '300x300'), class: 'item-png' if item.image.attached? %>
              <% if item.record.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
            </div>

            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
       </li>

      <% else %>
       <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
       </li>
      <% end %>

    </ul>
    <%= link_to "トップページに戻る", root_path %>
  </div>